.wp-block-icb-expanding-flex-cards-pro {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
  a {
    box-shadow: none !important;
    outline: none !important ;
  }

  .efc-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    .efc-card {
      position: relative;
      overflow: hidden;
      // margin: 10px;
      background: var(--optionBackground, var(--defaultBackground, #ede6e6));
      background-size: cover;
      background-repeat: no-repeat;

      cursor: pointer;
      transition: all 1.3s cubic-bezier(0.25, 1, 0.5, 1);
      flex-grow: 1;
      border-radius: 30px;

      .efc-card-shadow {
        position: absolute;
        bottom: -40px;
        left: 0px;
        right: 0px;
        height: 120px;
        transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
        box-shadow:
          inset 0 -120px 0px -120px black,
          inset 0 -120px 0px -100px black;
      }

      .efc-card-label {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0px;
        height: auto;
        width: 100%;
        transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
        bottom: 10px;
        left: 10px;

        .efc-card-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1 / 1;
          flex-shrink: 0;

          border-radius: 100%;

          color: var(--defaultBackground);
        }

        .efc-card-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
          // color: white;
          white-space: pre;

          > div {
            position: relative;
            transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
            left: 20px;
            opacity: 0;
          }

          .efc-card-subtitle {
            transition-delay: 0.1s;
          }
        }
      }

      &.efc-active {
        flex-grow: 10000;
        width: 100%;
        margin: 0px;
        border-radius: 40px;

        .efc-card-shadow {
          bottom: 0px;
          box-shadow:
            inset 0 -120px 120px -120px black,
            inset 0 -120px 120px -100px black;
        }

        .efc-card-label {
          bottom: 20px;
          left: 20px;

          .efc-card-info > div {
            left: 0px;
            opacity: 1;
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .efc-container {
      flex-direction: column;
      min-width: 100% !important;
      width: 100% !important;
      min-height: 80vh;
      height: auto;
      padding: 10px;
      box-sizing: border-box;

      .efc-card {
        margin: 5px 0;
        min-width: unset !important;
        max-width: 100% !important;
        min-height: 60px !important;
        width: 100% !important;
        // margin: 0 !important;

        .efc-card-label {
          bottom: 50%;
          transform: translateY(50%);
          left: 10px;
        }

        &.efc-active {
          max-width: 100% !important;
          min-height: 350px !important;
          flex-shrink: 0;
          width: 100% !important;

          .efc-card-label {
            bottom: 20px;
            transform: translateY(0);
            left: 20px;
          }
        }
      }
    }
  }
}
