$primaryColor: #4527a4;

.bBlocksInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: 700;
  }
}

.wp-block-icb-news-cards-pro {
  .selectHelp {
    color: #616063;
  }
  a {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
  }
}
