.wp-block-icb-animated-gradient-cards-pro {
  //   .components-button.has-icon {
  //     margin-top: -33px;
  //   }
  .oneCardEditorButton {
    display: inline-flex;
    align-items: center;
    gap: inherit;
  }
  a {
    box-shadow: none !important;
  }
}
