$primaryColor: #4527a4;

.wp-block-icb-expandable-animated-card-slider-pro {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .eacl-container {
    // font-family: "Roboto", sans-serif;
    // font-size: 16px;
    overflow: hidden;

    /* -------- title style ------- */
    & .eacl-title {
      // margin-bottom: 48px;
      // padding-bottom: 16px;
      // font-size: 20px;
      // line-height: 28px;
      // font-weight: 700;
      position: relative;
      // text-transform: capitalize;
      width: 400px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
      }

      &::before {
        width: 100%;
        // background: #f2f2f2;
      }

      &::after {
        // width: 32px;
        // background: #e73700;
      }
    }

    & .owl-stage {
      margin: 15px 0;
      display: flex;
      display: -webkit-flex;
    }

    & .owl-theme.eacl-carousel .owl-dots {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 5;
    }

    & .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 10;

      & button.owl-prev,
      & button.owl-next {
        pointer-events: auto;
        // background: rgba(255, 255, 255, 0.8) !important;
        // color: #333 !important;
        // width: 40px;
        // height: 40px;
        // border-radius: 50% !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        // margin: 0 10px !important;

        // &:hover {
        //   background: #fff !important;
        //   transform: scale(1.1);
        // }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    & .eacl-card {
      // margin: 0 15px 60px;
      // width: 300px;
      // height: 400px;
      display: flex;
      display: -webkit-flex;
      align-items: flex-end;
      -webkit-align-items: flex-end;
      // background: #343434 no-repeat center center / cover;
      background-color: #343434;
      background-repeat: no-repeat;
      background-position: center center;
      // background-size: contain;
      // border-radius: 16px;
      overflow: hidden;
      position: relative;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      cursor: pointer;

      &.active {
        // width: 400px;
        // height: 400px;
        // box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
        // -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      }

      & .eacl-card-description {
        // padding: 0 24px 12px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transform: translateY(calc(100% - 54px));
        -webkit-transform: translateY(calc(100% - 54px));
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;

        // & .eacl-card-title {
        //   margin: 0 0 10px;
        //   font-size: 28px;
        //   line-height: 36px;
        // }

        & p {
          opacity: 0;
          -webkit-transform: translateY(32px);
          transform: translateY(32px);
          transition: all 0.4s ease-in-out 0.2s;
          -webkit-transition: all 0.4s ease-in-out 0.2s;
        }
      }

      &.active .eacl-card-description {
        transform: none;
        -webkit-transform: none;

        & p {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }
  }

  /***** responsive css Start ******/

  @media (min-width: 992px) and (max-width: 1199px) {
    .eacl-container {
      // padding: 50px 30px;

      & .eacl-title {
        margin-bottom: 32px;
      }

      & .eacl-card {
        // margin: 0 12px 60px;
        // width: 260px;
        // height: 360px;

        // &.active {
        //   width: 400px;
        // }

        & .eacl-card-description {
          transform: translateY(calc(100% - 46px));
          -webkit-transform: translateY(calc(100% - 46px));

          // & .eacl-card-title {
          //   margin: 0 0 8px;
          //   font-size: 24px;
          //   line-height: 32px;
          // }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .eacl-container {
      padding: 50px 30px 40px;

      & .eacl-title {
        margin-bottom: 32px;
        width: 330px;
      }

      & .eacl-card {
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;

        &.active {
          width: 360px;
        }

        & .eacl-card-description {
          transform: translateY(calc(100% - 42px));
          -webkit-transform: translateY(calc(100% - 42px));

          // & .eacl-card-title {
          //   margin: 0 0 8px;
          //   font-size: 24px;
          //   line-height: 32px;
          // }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .eacl-container {
      font-size: 14px;
      padding: 30px 15px 20px;

      & .eacl-title {
        margin-bottom: 20px;
        width: 250px;
      }

      & .eacl-card {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;

        &.active {
          width: 270px;
          box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        }

        & .eacl-card-description {
          padding: 0 14px 5px;
          transform: translateY(calc(100% - 42px));
          -webkit-transform: translateY(calc(100% - 42px));

          // & .eacl-card-title {
          //   margin: 0 0 8px;
          //   font-size: 19px;
          //   line-height: 24px;
          // }
        }
      }
    }
  }
}
